button {
    background-color: #F4CE14;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 4px 5px 6px #333333;
    margin: 1rem 1rem 1rem 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    max-width: 1200px;
    justify-self: center;
    margin: 0 3% 0 3%;
    position: relative;
  }
  
  header {
    height: 12vh;
    align-items: center;
    width: 100%;
  }
  
  header > img {
    grid-column: 3 / 5;
  }
  
  nav {
    grid-column: 6 / 11;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav a {
    text-decoration: none;
  }
  
  main > article {
    padding: 10% 0 10% 0;
  }
  
  .titleArea {
    background-color: #495E57;
    
  }
  
  .titleSectionColumnOne {
    grid-column: 3 / 7;
    justify-content: center;
  }
  
  .titleSectionColumnTwo {
    grid-column: 8 / 12;
    border-radius: 1rem;
    box-shadow: 4px 5px 6px #333333;
    position: absolute;
  }
  
  footer {
    background-color: #EDEFEE;
    width: 100%;
    padding: 5% 0 5% 0;
  }
  
  footer li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  footer a {
    text-decoration: none;
  }
  
  footer img {
    width: 132px;
  }
  
  .footerColumnOne {
    grid-column: 2 / 4;
    justify-self: center;
  }
  
  .footerColumnTwo {
    grid-column: 5 / 6;
    justify-self: center;
  }
  
  .footerColumnThree {
    grid-column: 7 / 9;
    justify-self: center;
  }
  
  .footerColumnFour {
    grid-column: 10 / 12;
    justify-self: center;
  }
  
  /* Fonts */
  
  .displayTitle {
    font-size: 64px;
    font-family: 'Markazi Text';
    font-weight: bold;
  }
  
  .subTitle {
    font-size: 40px;
    font-family: 'Markazi Text';
  }
  
  .leadText {
    font-size: 18px;
    font-family: 'Karla';
    font-weight: bold;
  }
  
  .sectionTitle {
    font-size: 20px;
    font-family: 'Karla';
    font-weight: bolder;
  }
  
  .sectionCategories {
    font-size: 16px;
    font-family: 'Karla';
    font-weight: bolder;
  }
  
  /* Should be darker than lead text class */
  .cardTitle {
    font-size: 18px;
    
    font-weight: bold;
  }
  
  .paragraphText {
    font-size: 16px;
    font-family: 'Karla';
    line-height: 20px;
  }
  
  .highlightText {
    font-size: 16px;
    font-family: 'Karla';
    font-weight: bold;
  }
  
  /* Colors */
  
  .primaryGreen {
    color: #495E57;
  }
  
  .primaryYellow {
    color: #F4CE14;
  }
  
  .secondaryOrange {
    color: #EE9972;
  }
  
  .secondaryTan {
    color: #FBDABB;
  }
  
  .secondaryWhite {
    color: #EDEFEE;
  }
  
  .secondaryBlack {
    color: #333333;
  }
  
  /* Make responsive */
  @media (max-width: 768px) {
    .col-6, .col-4, .col-3 { width: 100%; } /* Stack on smaller screens */
  }
  
  img {
    max-width: 300px;
  }
  