button {
    background-color: #F4CE14;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 4px 5px 6px #333333;
    margin: 1rem 1rem 1rem 0;
    white-space: nowrap;
}

p span {
    vertical-align: middle;
}

img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    max-width: 1200px;
    justify-self: center;
    margin: 0 3% 0 3%;
    position: relative;
}

/* Parent container for the cards */
.weekly-specials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    padding: 16px;
    margin: auto 10% auto 10%;
}

/* Header Section */

header {
    height: 12vh;
    align-items: center;
    width: 100%;
}

header > img {
    grid-column: 3 / 5;
}

/* Nav Section */

nav {
    grid-column: 6 / 11;
}

nav > ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
}

main > article {
    padding: 8.2% 0 10% 0;
}

/* Title Section */

.titleArea {
    background-color: #495E57;
}

.titleSectionColumnOne {
    grid-column: 3 / 7;
    justify-content: center;
}

.titleSectionColumnTwo {
    grid-column: 8 / 12;
    border-radius: 1rem;
    box-shadow: 4px 5px 6px #333333;
    position: absolute;
}

.titlePictureWrapper {
    height: 537px;
}

/* Weekly Special Section */
.weeklySpecialsArea {
    background-color: #EDEFEE;
}

.weeklySpecialSectionColumnOne {
    grid-column: 1 / 9;
    align-self: center;
}
.weeklySpecialSectionColumnTwo {
    grid-column: 10 / 12;
    align-items: center;
}

.weeklySpecialCard {
    height: 450px;
    width: 260px;
    background-color: #EDEFEE;
    border-radius: 1rem;
    box-shadow: 4px 5px 6px #333333;
    overflow: hidden;
    justify-self: center;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 0;
}

.cardDescription {
    padding: 1rem 1rem 3.8rem 1rem;
    margin: 0;
}

.weeklyPictureWrapper {
    height: 200px;
    position: relative;
}

.cardAction {
    padding: 1rem;
}

/* Testimonial Section */

.testimonialArea {
    background-color: lch(93.27% 2% 66.8);
}

.testimonialTitle {
    justify-self: center;
}

.testimonialReviews {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem;
}

.testimonialCard {
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    box-shadow: 4px 5px 6px #AAAAAA;
    width: 180px;
    height: 180px;
    padding: 1rem;
}

.testimonialCard p {
    font-size: small;
}

.testimonialCardHeader {
    display: flex;
}

.testimonialPictureWrapper {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
}

.testimonialStars {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}

.testimonialStars i {
    margin: 0.2rem;
}

/* About Section */
.aboutArea {
    background-color: #EDEFEE;
    display: flex;
}

.aboutContent {
    margin-left: 20%;
    width: 30%;
}

.aboutImageGallery {
    margin: 0 10% 0 10%;
}

.aboutPictureWrapperOne {
    height: 400px;
    position: relative;
}

.aboutPictureWrapperTwo {
    height: 40px;
    position: relative;
    margin-left: 40px;
}

/* Footer Section */

footer {
    background-color: #EDEFEE;
    width: 100%;
    padding: 5% 0 5% 0;
}

footer li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer a {
    text-decoration: none;
}

footer img {
    width: 132px;
}

.footerColumnOne {
    grid-column: 2 / 4;
    justify-self: center;
}

.footerColumnTwo {
    grid-column: 5 / 6;
    justify-self: center;
}

.footerColumnThree {
    grid-column: 7 / 9;
    justify-self: center;
}

.footerColumnFour {
    grid-column: 10 / 12;
    justify-self: center;
}

/* Fonts */

.displayTitle {
    font-size: 64px;
    font-family: 'Markazi Text';
    font-weight: bold;
}

.subTitle {
    font-size: 40px;
    font-family: 'Markazi Text';
}

.leadText {
    font-size: 18px;
    font-family: 'Karla';
    font-weight: bold;
}

.sectionTitle {
    font-size: 20px;
    font-family: 'Karla';
    font-weight: bolder;
}

.sectionCategories {
    font-size: 16px;
    font-family: 'Karla';
    font-weight: bolder;
}

/* Should be darker than lead text class */
.cardTitle {
    font-size: 18px;

    font-weight: bold;
}

.paragraphText {
    font-size: 16px;
    font-family: 'Karla';
    line-height: 20px;
}

.highlightText {
    font-size: 16px;
    font-family: 'Karla';
    font-weight: bold;
}

/* Colors */

.primaryGreen {
    color: #495E57;
}

.primaryYellow {
    color: #F4CE14;
}

.secondaryOrange {
    color: #EE9972;
}

.secondaryTan {
    color: #FBDABB;
}

.secondaryWhite {
    color: #EDEFEE;
}

.secondaryBlack {
    color: #333333;
}

/* Make responsive */
@media (max-width: 768px) {
    .col-6, .col-4, .col-3 { width: 100%; } /* Stack on smaller screens */
}


