/* Mobile Views restrict the Viewport horizontally. Need a site wrapper inside the body element */
:root {
    --TitleSize: 64px;
    --subTitleSize: 40px;
    --subSectionTitleSize: 20px;
    --cardTitleSize: 18px;
    --paragraphSize: 16px;
    --TitleFont: 'Markazi Text', serif;
    --paragraphFont: "Karla", sans-serif;
    --primaryGreen: #495E57;
    --primaryYellow: #F4CE14;
    --secondaryOrange: #EE9972;
    --secondaryTan: #FBDABB;
    --secondaryWhite: #EDEFEE;
    --secondaryBlack: #333333;
    --mainShadow: 4px 5px 6px rgba(0, 0, 0, .25);
    --hoverShadow: 4px 5px 10px rgba(0, 0, 0, .2);
}

body > div {
    overflow-x: hidden;
}

button {
    background-color: var(--primaryYellow);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--mainShadow);
    margin: 1rem 1rem 1rem 0;
    white-space: nowrap;
    min-height: 50px;
}

p span {
    vertical-align: middle;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    max-width: 1200px;
    justify-self: center;
    margin: 0 3% 0 3%;
    position: relative;
}

/* Parent container for the cards */
.weekly-specials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    padding: 16px;
    margin: auto 10% auto 10%;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 3rem;
    padding: 16px;
}

/* Header Section */

header {
    display: flex;
    justify-content: space-between;
    padding: 0 20vw 0 12vw;
    height: 12vh;
    align-items: center;
}

/* Nav Section */

nav {
    margin-left: 5rem;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    gap: 0.7rem;
}

nav li {
    list-style-type: none;
    padding: 0;
    margin: 0 1rem 0 1rem;
}

nav a {
    text-decoration: none;
}

main > article {
    padding: 8.2% 0 10% 0;
}

.navLogoWrapper {
    min-width: 148px;
    border-radius: inherit;
    overflow: hidden;
    position: relative;
}

/* Title Section */

.titleArea {
    background-color: var(--primaryGreen);
}

.titleSectionColumnOne {
    grid-column: 3 / 7;
    justify-content: center;
}

.titleSectionColumnOne > div {
    max-width: 300px;
}

.titleSectionColumnTwo {
    grid-column: 8 / 12;
    border-radius: 1rem;
    box-shadow: var(--mainShadow);
    position: absolute;
}

.titlePictureWrapper {
    aspect-ratio: 9 / 16;
    max-height: 537px;
    border-radius: inherit;
    overflow: hidden;
    position: relative;
}

/* Weekly Special Section */
.weeklySpecialsArea {
    background-color: var(--secondaryWhite);
}

.weeklySpecialSectionColumnOne {
    grid-column: 1 / 9;
    align-self: center;
}
.weeklySpecialSectionColumnTwo {
    grid-column: 10 / 12;
    align-items: center;
}

.weeklySpecialCard {
    height: 450px;
    width: 260px;
    background-color: var(--secondaryWhite);
    border-radius: 1rem;
    box-shadow: var(--mainShadow);
    overflow: hidden;
    justify-self: center;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 0;
}

.cardDescription {
    padding: 1rem 1rem 3.8rem 1rem;
    margin: 0;
}

.weeklyPictureWrapper {
    height: 200px;
    position: relative;
}

.cardAction {
    padding: 1rem;
}

/* Testimonial Section */

.testimonialArea {
    background-color: lch(93.27% 2% 66.8);
}

.testimonialTitle {
    justify-self: center;
    color: var(--secondaryBlack) !important;
}

.testimonialReviews {
    margin: 4rem 10% 4rem 10%;
}

.testimonialCard {
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    box-shadow: var(--hoverShadow);
    width: 180px;
    height: 180px;
    padding: 0.8rem;
}

.testimonialCard p {
    font-size: small;
}

.testimonialCardHeader {
    display: flex;
}

.testimonialPictureWrapper {
    height: 30px;
    width: 30px;
    margin-right: 0.3rem;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
}

.testimonialStars {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}

.testimonialStars i {
    margin: 0.2rem;
}

/* About Section */
.aboutArea {
    display: flex;
}

.aboutContent {
    margin-left: 20%;
    width: 30%;
    align-self: center;
}

.aboutImageGallery {
    display: grid;
    grid-template-columns: auto;
    column-gap: 20px;
    gap: 10px;
    margin: 0 10% 0 10%;
    height: 600px;
}

.aboutPictureWrapperOne {
    height: 400px;
    position: relative;
    left: 100px;
    overflow: hidden;
    border-radius: 30px;
}

.aboutPictureWrapperTwo {
    height: 400px;
    position: relative;
    bottom: 200px;;
    overflow: hidden;
    border-radius: 30px;
}

/* Footer Section */

footer {
    background-color: var(--secondaryWhite);
    width: 100%;
    padding: 5% 0 5% 0;
}

footer li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer a {
    text-decoration: none;
}

footer img {
    width: 132px;
}

.footerColumnOne {
    grid-column: 2 / 4;
    justify-self: center;
}

.footerColumnTwo {
    grid-column: 5 / 6;
    justify-self: center;
}

.footerColumnThree {
    grid-column: 7 / 9;
    justify-self: center;
}

.footerColumnFour {
    grid-column: 10 / 12;
    justify-self: center;
}


@media (max-width: 1200px) {
    

    
}

@media (max-width: 768px) {
    * {
        width: 100%;
        box-sizing: border-box;
    }

    .titleSectionColumnTwo {
        display: none;
    }

    main > article {
        padding: 8.2% 0 10% 0;
    }

    .grid {
        padding: 0;
    }

    /* Header Section */

    /* header {
        height: 12vh;
        align-items: center;
        width: 100%;
    } */

    /* Nav Section */

    nav {
        display: flex;
    }

    nav > ul {
        display: flex;
        justify-content: space-between;
    }

    nav li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    nav a {
        text-decoration: none;
    }

    main > article {
        padding: 8.2% 0 10% 0;
    }

    .navLogoWrapper {
        grid-column: 3 / 5;
        border-radius: inherit;
        overflow: hidden;
        position: relative;
    }
}

.displayTitle {
    font-size: var(--TitleSize);
    color: var(--primaryYellow);
    font-family: var(--TitleFont);
    font-weight: 500;
}

.subTitle {
    font-size: var(--subTitleSize);
    font-family: var(--TitleFont);
    color: var(--secondaryWhite);
}

.secondarySubTitle {
    font-size: var(--subTitleSize);
    font-family: var(--TitleFont);
    color: var(--secondaryOrange);
}

.leadText {
    font-size: var(--cardTitleSize);
    font-family: var(--paragraphFont);
    color: var(--secondaryWhite);
    font-weight: bold;
}

.sectionTitle {
    font-size: var(--TitleSize);
    font-family: var(--TitleFont);
    color: var(--secondaryBlack);
    font-weight: bolder;
}

.sectionCategories {
    font-size: var(--paragraphText);
    font-family: var(--paragraphFont);
    font-weight: bolder;
}

/* Should be darker than lead text class */
.cardTitle {
    font-size: var(--cardTitleSize);

    font-weight: bold;
}

.paragraphText {
    font-size: var(--paragraphSize);
    font-family: var(--paragraphFont);
    line-height: 20px;
}

.highlightText {
    font-size: var(--paragraphSize);
    font-family: var(--cardTitleSize);
    color: var(--secondaryBlack);
    font-weight: 600;
}